language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php: [7.1]

env:
  global:
    - NODE_VERSION='8'
    - ZOMBIE_VERSION='@^3.0' # npm will install Zombie 4.x by default, even though it is not compatible with the version of node available on Travis.
    # Force binding to IPv4 as Zombie and PHP seem to have a different resolution for localhost on Travis.
    - MINK_HOST=127.0.0.1:8002

before_install:
  - node --version
  - npm --version

install:
  - npm install $NODE_VERSION
  - npm install zombie$ZOMBIE_VERSION
  - composer install

before_script:
   # Start a webserver for web fixtures.
  - vendor/bin/mink-test-server > /dev/null 2>&1 &

script: phpunit -v --coverage-clover=coverage.clover
